@import "tailwindcss";

input::placeholder {
  opacity: 0.5;
}

* {
  /*border: 1px solid red;*/
}

@theme {
  --color-primary: oklch(54.6% 0.245 262.881);
  /*--color-primary-dark: #b94e0a;*/
  /*--color-primary-light: #fc9e56;*/
  --color-primary-dark: oklch(37.9% 0.146 265.522);
  --color-primary-light: oklch(80.9% 0.105 251.813);


}