@import "tailwindcss";

input::placeholder {
  opacity: 0.5;
}

* {
  /*border: 1px solid red;*/
  /*filter: hue-rotate(200deg) !important;*/
}

@theme {
  --color-primary: oklch(54.6% 0.245 262.881);
  /*--color-primary-dark: #b94e0a;*/
  /*--color-primary-light: #fc9e56;*/
  --color-primary-dark: oklch(37.9% 0.146 265.522);
  --color-primary-light: oklch(80.9% 0.105 251.813);
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
}


@layer components {
  .center-y {
    @apply absolute top-1/2 -translate-y-1/2;
  }
  .center-x {
    @apply absolute left-1/2 -translate-x-1/2;
  }
}